.header {
  &__container {
    width: 1170px;
    max-width: 100%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    padding-left: 15px;
  }
}