html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block
}

body {
  line-height: 1
}

ol, ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table {
  margin-top: 30px;
  border-collapse: collapse;
  border: 1px solid #dee2e6;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }

  th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
    padding: .75rem;
    font-weight: 600;
    text-align: left;
  }

  td {
    border-bottom: 1px solid #dee2e6;
    padding: .75rem;
    vertical-align: top;
    text-align: left;
  }
}

dl{
  letter-spacing:-0.31em;
  *letter-spacing:normal;
  word-spacing:-0.43em;
}

dl dt,
dl dd {
  display:inline-block;
  *display:inline;
  zoom:1;
  letter-spacing:normal;
  word-spacing:normal;
  vertical-align:top;
  margin:0;
}

dl dt{
  font-weight:600;
  width:48%;
  padding: 0 2% 0.5em 0;
}

dl dd{
  margin-right:-1px;
  width:50%;
  padding: 0 0 0.5em 0;
}