.post-type-post {
  img { max-width: 100%;  }
}

.post-main-single, .post-aside-single {
  margin-top: 0;
}

.article-thumbnail {
  margin-bottom: 10px;

}

.article-content {
  padding-bottom: 30px;

  .article-header {
    font-size: 40px;
    font-weight: 700;
    color: #000;
    margin-bottom: 5px;
  }

  .blog-author {
    margin-top: 0;
    margin-bottom: 20px;
  }

  p, ul li, ol li {
    font-weight: 300;
    color:#000;
    line-height: 25px;
  }

  li {
    padding-left: 30px;

    &:before {
      display: inline-block;
      width: 30px;
      margin-left: -30px;
      color: #000;
      text-align: center;
    }
  }

  ul li {

    &:before {
      content: '\002022';
      position: relative;
      top: -3px;
      font-size: 160%;
      line-height: 0;
      vertical-align: middle;

    }
  }

  ul, ol {
    list-style: none;
  }

  a:not(.btn) {
    color: #ed1c24;
  }

  ol {
    counter-reset: ordered-list;

    li:before {
      counter-increment: ordered-list;
      content: counter(ordered-list)".";
    }
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 900;
  }

  h1, h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #000;
  }

  pre {
    overflow: hidden;
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px 1.5em 0;
    padding: 0.5em 10px;
    quotes: "\201C""\201D";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

  .alignleft {
    float: left;
    margin: 0 15px 5px 0;
  }

  .alignright {
    float: right;
    margin: 0 0 5px 15px;
  }

  .aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  figcaption {
    font-weight: 600;
    color: #000;
  }
} // .article-content

.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.gallery-caption {
  display: block;
  max-width: 100%;
  margin-bottom: 0;
  padding: 0 10px 0 0;
  color: #666;
  font-size: 13px;
  text-align: left
}

.gallery-item {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 30px 0 0;
  padding: 0 30px 0 0;
  width: 50%
}

.gallery-columns-1 .gallery-item {
  width: 100%
}

.gallery-columns-2 .gallery-item {
  max-width: 50%
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
  display: block;
  max-width: 100%;
  box-shadow: none;
  background: none
}

.gallery-item a img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: filter 0.2s ease-in;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.gallery-item a:hover img,
.gallery-item a:focus img {
  filter: opacity(60%)
}

@media screen and (min-width: 450px) {
  .gallery-item {
    max-width: 25%
  }
  .gallery-columns-1 .gallery-item {
    max-width: 100%
  }
  .gallery-columns-2 .gallery-item {
    max-width: 50%
  }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%
  }
  .gallery-columns-4 .gallery-item {
    max-width: 25%
  }
}

@media screen and (min-width: 720px) {
  .gallery-columns-5 .gallery-item {
    max-width: 20%
  }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%
  }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%
  }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%
  }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

.article-content *+h1, .article-content *+h2, .article-content *+h3, .article-content *+h4, .article-content *+h5, .article-content *+h6, .article-content *+p, .article-content *+iframe, .article-content *+ul, .article-content *+ol, .article-content *+dl, .article-content *+figure {
  margin-top: 30px;
}

// Comments

.comments {
  .comments-title {
    font-weight: 700;
    color: #000;
    margin-bottom: 5px;
  }

  .blog-comment {
    padding-top: 15px;
    padding-bottom: 10px;

    .comment-author {
      color: #000;
      font-weight: 600;
    }

    .comment-content {
      color: #000;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .reply {
      color: #ef0e0e;
      border: 1px solid #ef0e0e;
      background-color: transparent;
      cursor: pointer;
    }

    .comment-form-container {
      padding-top: 15px;
    }
  }
}

.comment-form {
  button {
    margin-top: 10px;
  }
}

.form-not-logged-user {
  > div {
    width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
}

.comment-form {
  textarea {
    width: 100%;
  }
}

.blog-comment > .comment-box > .comments {
  padding-left: 50px;
}

.post-main > .comment-box {
  padding-bottom: 40px;
}

.comment-box textarea {
  padding: 10px;
}
.comment-box input {
  padding-left: 5px;
}