{% if menu %}
    <ul>
        {% for item in menu %}
            <li class="{{ item.classes | join(' ') }} menu-slide__item">
                <a target="{{ item.target }}" href="{{ item.link }}" class="menu-slide__link">{{ item.title }}</a>
                {% include "menu.twig" with {'menu': item.get_children} %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
