{% block slider %}

    <div class="slider-container">
        <div class="slider">
            {% for slide in slides  %}

                <div><img src="{{ slide.thumbnail }}" alt=""></div>

            {% endfor %}
        </div>
    </div>

{% endblock %}