{% block slider %}
    <div class="slider-container">
        <div class="slider">
            <div><img src="{{ slide1url }}" alt=""></div>
            <div><img src="{{ slide2url }}" alt=""></div>
            <div><img src="{{ slide3url }}" alt=""></div>
        </div>
    </div>
{% endblock %}